h1 {
    font-size: 31px;
    text-transform: uppercase;
    font-style: italic;
    font-family: "William", serif;
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 45px;
    color:rgb(56, 0, 56);
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 45px;
 }
 
 h2 {
     font-size: 31px;
     font-family: "Inter", sans-serif; 
     text-transform: uppercase;
     color:rgb(0, 57, 71);
     margin-top: 5px;
     margin-bottom: 35px;
 }

 body {
    width: 900;
 }

 img {
    width: 	300px;
    margin-bottom: 125px;
 }

div{
    background-color: rgb(108, 89, 212);
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0 auto 20px;
}
p{    
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.beautiful-button {
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Изменение курсора при наведении */
 }
 
 /* Эффект при наведении */
 .beautiful-button:hover {
    background-color: #45a049; /* Темно-зеленый цвет фона */
 }